
.container {
  margin: 0;
  height: 100%;
  padding-bottom: 0px;
  background-color: gray;
  border: 2px black
}

#sidebar {
  position: absolute;
  top:0; bottom:0; left:0;
  text-align-last: center;
  width:200px;
  height:auto;
  background: brown;
  padding-top: 200px;
  font-style: oblique;
  color: white;
}
#pingpong {
  display: none;
  font-size: 18pt;
  font-weight: bolder;

}

  #ping {
  display: none;
  font-size: 18pt;
  font-weight: bolder;
}

  #pong {
  display: none;
  font-size: 18pt;
  font-weight: bolder;
}
  #completed {
  display: none;
}

  .header {
  height: 100%; font-size: 144pt; background-color: #ffff00;
  padding-top: 150px; padding-bottom: 150px;text-align: center;
}

  #paddle {
    justify-content: center;padding-top: 200px;padding-bottom: 200px; padding-left: 220px; border-style: stretch; background-color: #abcdef;
}

#form-group {
  height: 100%;
}

#footer {
  color: white;
  height: 10%;
  padding-top: 600px;color: green;
}
